.transactionHistory {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .transactionHistory th, .transactionHistory td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .transactionHistory th {
    background-color: rgba(36, 36, 36, 0.952);
    color: white;
  }
  
  .transactionHistory .capitalize {
    text-transform: capitalize;
  }

  .transactionHistory tr:nth-child(even) {
    background-color: rgb(186, 186, 186);
  }